@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar start */

.active::after {
	  content: "";
    position: absolute;
    width: 13px;
    height: 30%;
    left: 0;
    top: 0;
    border-top: 2px solid #0ae0b8;
    border-left: 2px solid #0ae0b8;
	}
.active::before {
	  content: "";
    position: absolute;
    width: 13px;
    height: 30%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #0ae0b8;
    border-right: 2px solid #0ae0b8;
	}

/* navbar end */

/* banner slider  */
.slider img {
  height: 85vh !important;
}
.thumbs {
  display: flex;
  justify-content: center;
}

.thumb img {
  width: 100px !important;
  height: 50px !important;
}

/* banner end  */

/* sign up start  */
.sign-up {
  background-image: url('./assets/login.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}