/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* navbar start */
.active {
  background-color: transparent !important;
  border-bottom: 2px solid #0ae0b8;
  border-radius: 0;
}

/* .active::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 30%;
  left: 0;
  top: 0;
  border-top: 2px solid #0ae0b8;
  border-left: 2px solid #0ae0b8;
} */

/* .active::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 30%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #0ae0b8;
  border-right: 2px solid #0ae0b8;
} */

/* navbar end */

/* banner slider  */
.slider img {
  height: 85vh !important;
}

.thumbs {
  display: flex;
  justify-content: center;
}

.thumb img {
  width: 100px !important;
  height: 50px !important;
}

/* banner end  */

/* sign up start  */
.sign-up {
  background-image: url('./assets/login.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* react input tags css starts  */
.ReactTags__tags {
  position: relative;

}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

.ReactTags__tagInput {

  display: inline-block;
  width: 100% !important;

}

.ReactTags__tagInput input {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem !important;
  color: #5d6066;
}

input.ReactTags__tagInputField {
  margin: 0;
  padding: .9rem 0.5rem;
  font-size: 14px;
  outline: none;
  border: 1px solid #E5E7EB;
  width: 100% !important;

}

.ReactTags__tagInput:focus {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #eee;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__selected {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

}

span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #0ae0b8;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.ReactTags__remove {
  color: #aaa;
  cursor: pointer;
  display: flex;
}

.ReactTags__suggestions {
  position: absolute;
}

.ReactTags__suggestions>ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
  padding: 5px 0;
}

.ReactTags__suggestions>li {
  padding: 5px 10px;
  margin: 0;
  text-align: left;

  mark {
    text-decoration: underline;
    background: none;
  }

  .ReactTags__activeSuggestion {
    background: #0ae0b8;
    color: #fff;
    cursor: pointer;

    span mark {
      color: #fff;
    }
  }
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  padding: 5px;
}

.ReactTags__error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;


}

.ReactTags__error>svg {
  padding: 0 5px;
}


/* react input tags css ends  */


/* navigation css start  */
.pagination {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: flex !important;
}

.pagination ul li a {
  padding: 10px;
}

.pagination .selected {
  border: 1px solid red;
}

/* .review css  */
.review {
  background-image: url('./assets/app2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* dashboard sidebar  */
.side-bar {
  background-image: url('./assets/animate.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu {
  padding: 0 !important;
}

/* my profile page */
.profile-bg {
  background-image: url('./assets/app1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer  */

.footer-bg {
  background-image: url('./assets/animate-1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* coupon  */
.coupon-bg {
  background-image: url('./assets/app1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



